
li {
    margin-bottom: 8px;
  }
  
  input[type="checkbox"] {
    margin-right: 11px;
  width: 16px;
  height: 16px;
  }
  
  button1 {
    background-color: #d48ed2;
    color: #fff;
    border: 1px solid #887575;
    padding: 3px 16px;
    cursor: pointer;
    border-radius: 8px;
    margin-left: 50px;
  }
  
  button1:hover {
    background-color: #6143e6;
  }
  span{
    font-size: 18px;
  }
  